<div class="box box-warning">
  <div class="box-header with-border">
    <h3 class="box-title">Add Employee</h3>
  </div>
  <div class="box-body">
    <form class="form-horizontal" [formGroup]="addEmpForm">
      <div class="box-body">
        <div class="form-group">
          <label class="control-label col-sm-2" for="employeeId"> CORP Id <i class="fa fa-asterisk"></i></label>
          <div class="col-sm-10">
            <input type="text" (blur)="getEmployeeDetails()" class="form-control" formControlName="employeeId">
            <div class="error" *ngIf="addEmpForm.get('employeeId').hasError('required') && addEmpForm.get('employeeId').touched">
              Required
            </div>
            <div class="error" *ngIf="addEmpForm.get('employeeId').hasError('pattern') && addEmpForm.get('employeeId').touched">
              Invalid input
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="kinId"> Kin Id/Employee Id <i class="fa fa-asterisk"></i></label>
          <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="kinId">
            <div class="error" *ngIf="addEmpForm.get('kinId').hasError('required') && addEmpForm.get('kinId').touched">
              Required
            </div>
            <div class="error" *ngIf="addEmpForm.get('kinId').hasError('pattern') && addEmpForm.get('kinId').touched">
              Invalid input, Please enter only Digits
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="emailAddress"> Email Id </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="emailAddress">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="firstName"> First Name </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="firstName">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="lastName"> Last Name </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="lastName">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="designation"> Designation </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="designation">
          </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="capBU"> Capgemini BU </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="capBU">
            </div>
          </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="mobile"> Mobile </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="mobile">
          </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="Location"> Location <i class="fa fa-asterisk"></i> </label>
            <div class="col-sm-10">
              <select class="form-control" formControlName="location">
                  <option value =''> Select </option>
                  <option *ngFor="let location of locations" value={{location.displayName}} > 
                      {{location.displayName}} 
                  </option>
              </select>
              <div class="error" *ngIf="addEmpForm.get('location').hasError('required') && addEmpForm.get('location').touched">
                  Required
                </div>
            </div>
          </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="skillSets"> Skill Set </label>
          <div class="col-sm-10">
            <app-select-data [displayValues]="skillSets" (selectedValue)="selectSkillSet($event)"></app-select-data>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="box-footer">
    <div class="col-lg-2"></div>
    <div class="col-lg-2">
        <button type="submit" class="btn btn-primary btn-block" (click)="saveEmployee()" [disabled]="!addEmpForm.valid"> Submit </button>
    </div>
    <div class="col-lg-2">
        <a class="btn btn-default btn-block" routerLink="../search"> Cancel </a>
    </div>
    <div class="col-lg-6"></div>
  </div>
</div>   


