<div class="col-lg-12">
  <div class="box box-info">
    <div class="box-body">
      <p> This module will be used for financial reporting of revenue , cost , CM and CM%. </p>
      <p> <b>Budget:</b> Budget is created at the start of year predicting the financial parameters for a project for a complete year. </p>
      <p> <b>Forecast:</b> Forecast is the process of predicting the financial parameters for remaining months of the year. Example On 30Th June prediction will from July to December. </p>
      <p> <b>Actuals:</b> Actual Financial data till the current month is called Actuals. Example Example on 30Th June actual figures from Jan to June will be actuals. </p>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <div class="box box-info">
    <div class="box-body">
        <p>The main functions of Finance module are</p>
        <p>1. Take Input from Forecast Excel and upload to Database.</p>
        <p>2. Take Input from PCM Excel (Actuals) and upload to Database.</p>
        <p>3. Create different views on Dashboard using forecast and actuals data for project . Different views include monthly , quarterly and yearly charts and graphs.</p>
    </div>
  </div>
</div>